black==25.9.0
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
et_xmlfile==2.0.0
flake8==7.3.0
flake8-comprehensions==3.17.0
flake8-docstrings==1.7.0
idna==3.11
mccabe==0.7.0
mypy_extensions==1.1.0
openpyxl==3.1.5
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
python-dotenv==1.1.1
pytokens==0.3.0
requests==2.32.5
snowballstemmer==3.0.1
tabulate==0.9.0
urllib3==2.5.0
